.title__container {
  background-color: hsl(200, 12%, 80%);
  height: 20vh;
  color: hsl(200, 35%, 25%);
  font-size: 1.8rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.videos__container {
  width:100%;
  height: 70vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}